h1{
    background-color: antiquewhite;
}
h2{
    background-color: honeydew;
}
h3{
    background-color: aquamarine;
}
li{
    background-color: aliceblue;
}
em{
    font-size: large;
    background-color: #f3f3c9;
}
 .inline{
    display: inline;
     width: 800px; 
    background-color: darksalmon;
}

.child2{
    display: inline;
    height:50px;
    width:350px;
    margin: 5px;
    padding: 3px;
    border: 2px solid #ff0000; 
}

.block{ 
    display: block;
     justify-content: center; 
    background-color: aqua;
}
.inline-block{
    display: inline-block;
    justify-content: center; 
    background-color: blueviolet ;
}
.flex{
    height: 300px;
    background-color: rgb(100, 131, 100);
    display: flex;
     justify-content: space-around; 
     align-items: center;

}

.child{
    height:50px;
    width:350px;
    margin: 5px;
    border: 2px solid #ff0000; 
    background: linear-gradient(to right, rgb(148, 6, 1),rgb(145, 58, 82),rgb(212, 100, 5), rgb(110, 9, 90));
}

.container{

    display: flex;
    flex-wrap: wrap;
    
    
}
    
.child1{
    height:50px;
    width:350px;
    margin: 30px;
    border: 2px solid #ff0000;
}

    
